$value6 :6px;
$value12:12px;
$value24:24px;

html,
body {
    margin          : 0;
    border          : none;
    user-select     : none;
    background-color: #1e2761;
}

#root {
    padding: $value12;
    display: flex;
    gap    : $value24;
}


.card {
    border-radius   : $value12;
    background-color: #fff;
    padding         : $value12;

    .title {
        margin: 0;
    }
}



.left-menu {
    flex     : 2;
    min-width: 385px;

    .profile {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        position       : relative;

        .avatar {
            width              : 160px;
            height             : 160px;
            border-radius      : 50%;
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : cover;
        }

        .infos {
            margin-top: $value12;

            .info-item {
                display   : flex;
                min-width : 200px;
                margin-top: $value6;

                &:first-child {
                    margin-top: 0;
                }

                .label {
                    flex      : 6;
                    text-align: left;
                    color     : #6b7b8c;
                }

                .value {
                    flex       : 6;
                    text-align : right;
                    font-weight: 800;
                    font-size  : 16px;
                }
            }
        }
    }

    .quote-box {
        margin-top: $value24;

        .quote {
            font-size  : 16px;
            font-weight: 700;
        }

        .quote-hide {
            font-size  : 16px;
            font-weight: 700;
        }

        .quote-hide::before {
            content     : "“";
            color       : transparent;
            font-size   : 24px;
            font-weight : 700;
            margin-right: $value6;
        }

        .quote::before {
            content     : "“";
            color       : #500472;
            font-size   : 24px;
            font-weight : 700;
            margin-right: $value6;
        }
    }

    .skills-box {
        margin-top: $value24;

        .skill-inner {
            display              : grid;
            grid-template-columns: repeat(3, 1fr);
            gap                  : $value12;
            margin-top           : $value12;

            .skill {
                background-color: #e5e5dc;
                color           : #000;
                padding         : $value6 $value12;
                border-radius   : $value24;
                text-align      : center;
            }
        }
    }
}


.right-content {
    flex     : 10;
    min-width: 650px;

    article {
        color     : #6b7b8c;
        margin-top: $value12;

    }

    a {
        color          : #4d5198;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.github {
    transform: rotate(45deg);
    position : absolute;
    top      : 10px;
    right    : 10px;
    cursor   : pointer;
}


@media screen and (max-width: 750px) {


    #root {
        display       : flex;
        gap           : $value24;
        flex-direction: column;
    }

    .left-menu {
        min-width: 100%;

        .skill {
            background-color: #e5e5dc;
            color           : #000;
            padding         : $value6 !important;
            border-radius   : $value24;
            text-align      : center;
            font-size       : $value12;
        }
    }

    .right-content {
        min-width: 100%;
    }
}

.dark-mode,
.light-mode {
    position : absolute;
    left     : 12px;
    top      : 12px;
    cursor   : pointer;
    color    : #000;
    font-size: 24px;
}

.dark-mode::after {
    content: "🌛";
}

.light-mode::after {
    content: "🌞";
}